[submodule "202108-frontendMERN-iKboil"]
	path = 202108-frontendMERN-iKboil
	url = https://github.com/RechadSalma/202108-frontendMERN-iKboil.git
[submodule "202108-backendMERN-iKboil"]
	path = 202108-backendMERN-iKboil
	url = https://github.com/RechadSalma/202108-backendMERN-iKboil.git
